div{
    background-color: blue;
    border: 3px solid black;
    position: absolute;
    top: 300px;
    height: 100px;
    width: 100px;
    animation: shubh 5s linear 0s infinite ;
}



@keyframes shubh{
    from{left: 0px;}
    from{left: 700px;}
}
